{% extends 'base.html' %}


{% block content %}



<div class="card text-center">
    <div class="card-header">
      ورود کاربران
    </div>
    <div class="card-body">

        <form action = "" method="post" >
        {% csrf_token %}
        <label>
            <input type="text" name="user" placeholder="کد کاربری">
        </label><br><br>
        <label>
            <input type="password" name="password" placeholder="شماره کاربری">
        </label><br><br>

    <button type="submit" style="background-color: success">ورود</button>
    </form>
    </div>
    <div class="card-footer text-muted">
        <a href="{%url 'reset' %}"> آیا رمز عبور خود را فراموش کرده اید؟</a>
        <a href="{%url 'user_register' %}"> ثبت نام</a>
    </div>
</div>

{% endblock %}